__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/
.DS_Store

data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
outputs/figures/*
!outputs/figures/.gitkeep
outputs/tables/*

*.zip
*.gpkg
*.graphml
*.parquet

